<nav>
    Login
    <hr>
    <label for="">Usuario</label><input type="text"><br>
    <br>
    <label for="">Password</label><input type="password"><br>
    <hr>
    <button>Enviar</button>
    <br>
    <a href="/">Inicio</a>
</nav>