<!DOCTYPE html>
<html lang="es" ng-app="domotica">
<head>
    <meta charset="UTF-8">
    <title>MyProject</title>
    <link rel="shortcut icon" type="imagen/png" href="./imagen/logo.png">
    
    <link rel="stylesheet" href="./style/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./style/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="./style/menu.css">
    <link rel="stylesheet" href="./style/fondo.css">
    <link rel="stylesheet" href="./style/panel.css">
    <link rel="stylesheet" href="./style/bootstrap.css">
</head>
<body>